@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
html{
    font-size: 100%;
 }
*{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    /* font-size: 50px; */
    /* margin-left: 18rem; */
    box-shadow: 5px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    justify-content: flex-end;
    margin-top: -10px;
    /* border-radius: 6rem; */
    background-color: transparent;
    box-shadow: 0rem 0.2rem 1rem #ededed;
    font-family: 'Poppins', sans-serif;
    
    
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
nav ul li a{
    display: flex;
    /* flex-direction: row; */
    padding: 1rem 3rem 0rem 3rem;
    margin-bottom: -0.6rem;
    margin-top: -1rem;
    font-size: 1.15rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    z-index: 5;
    
}

nav ul li a{
    text-decoration: none;
    /* color: #515151; */
    color: #5a5a5a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    transition: all 0.5s ease-in;
    
}
nav ul li a:hover{
    border-bottom: .0rem solid #0491fd;
    color: #2277d7;
    /* background: linear-gradient(to bottom, #444444,rgb(57, 57, 57)); */
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
    transform: scale(1.2);
}


.btn{
  font-size: 1rem;
  width: 8rem;
  /* background: linear-gradient(227deg,#c610fd, #6daffa); */
  background: #6C63FF;
  border: none;
  outline: none;
  height: 1.5rem;
  border-radius: 2.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -.5rem;
  cursor: pointer;
  transition: 0.5s;
  transition: all 0.4s ease-in;
  margin-left: 1.5rem;
  margin-top: 4rem;
  padding: .6rem 1rem .4rem 1rem;
}

/* #item-6 a{
  font-size: 1rem;
  width: 8rem;
  background: linear-gradient(227deg,#c610fd, #6daffa);
  border: none;
  outline: none;
  height: 1.5rem;
  border-radius: 2.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -.5rem;
  cursor: pointer;
  transition: 0.5s;
  transition: all 0.4s ease-in;
  margin-left: 0%;
  padding: .6rem 1rem .4rem 1rem;
}

#item-6 a:hover{
    background: linear-gradient(227deg,#c610fd, #6daffa);
    transform: scale(1);
} */
nav ul span a{
    text-decoration: none;
    color: #313232;
    /* font-family: 'Noto Serif JP', serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    transition: all 0.5s ease-in;
}


.container{
    display: flex;
    margin-top: 5rem;
}

.details{
    display: inline;
    width: 50%;
    text-align: left;
    margin-top: 6rem;
    margin-left: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details h1{
    font-size: 3.1rem;
    color: #6C63FF;
    /* color: #373737; */
    margin-bottom: -1.5rem;
    letter-spacing: 0.2rem;
}
.details h2{
    font-size: 2.3rem;
    color: #5a5a5a;

}
.details p1{
    font-size: 1.3rem;
    color: #666464;
    
}
.social{
    margin-left: 2.5rem;
    margin-top: 10%;
    font-size: 3rem;
    

}
.social span{
    margin-top: 2rem;
    color: #525252;
    transition: all 0.4s ease-in;
}
.social span:hover{
    margin-top: 2rem;
    color: #6C63FF;
    transform: scale(1.2);
}

.abt{
    display: grid;
    grid-template-rows: 10rem, 100rem, 100rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background-color: aliceblue;

}
.title{
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #6C63FF;
    letter-spacing: 1rem;
    font-size: 3.2rem;
}

.photo{
    margin-left: 8rem;
    margin-top: -6rem;
    
}
.myslf{
    margin-right: 8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.myslf h4{
    font-size: 2.5rem;
    color: #6C63FF;
    /* background: linear-gradient(to bottom, #ff3bbe,#579dec);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    letter-spacing: 0.2rem;
}
.myslf p2{
    font-size: 1.4rem;
    color: #7a7a7a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.myslf a{
    text-decoration: none;
}
.hireme{
    font-size: 1rem;
    width: 8rem;
    /* background: linear-gradient(227deg,#c610fd, #6daffa); */
    /* background: linear-gradient(227deg,#c610fd, #2277d7); */
    background-color: #6C63FF;
    border: none;
    outline: none;
    height: 1.5rem;
    border-radius: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -.5rem;
    cursor: pointer;
    transition: 0.5s;
    transition: all 0.4s ease-in;
    margin-left: 3rem;
    margin-top: 4rem;
    /* padding: .6rem 1rem .4rem 1rem; */
    padding: .6rem 10rem .6rem 10rem;
    text-decoration: none;
}
.myslf i{
    padding-top: 1rem;
}
.know{
    font-size: 1rem;
    width: 8rem;
    /* background: linear-gradient(227deg,#c610fd, #2277d7); */
    background-color: #6C63FF;
    border: none;
    outline: none;
    height: 1.5rem;
    border-radius: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -.5rem;
    cursor: pointer;
    transition: 0.5s;
    transition: all 0.4s ease-in;
    margin-left: 3rem;
    margin-top: 4rem;
    /* padding: .6rem 1rem .4rem 1rem; */
    padding: 1rem 8rem 1rem 8rem;
    text-decoration: none;
}
/* .qual{
    display: grid;
    grid-template-rows: 10rem, 100rem, 100rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5%;
}

.edu h4{
    font-size: 2rem;
    color: #6C63FF;  
    font-family: 'Kanit', sans-serif;
}
.edu p4{
    font-size: 1.3rem;
    color: #787878;
    row-gap: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.edu i{
    color: #6C63FF;
}

.edu{
    padding: 5rem 5rem 5rem 5rem;
    margin: solid balck 0.1rem;
    background-color: aliceblue;
    border-radius: 3rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0.2rem 0.4rem 1rem rgb(211, 211, 211);
}
.edu:hover{
    transform: scale(1.05);
    cursor: pointer;
} */


.qual{
    display: grid;
    grid-template-rows: 10rem, 100rem, 100rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5%;
    margin-top: 1%;
}

.edu h4{
    font-size: 2rem;
    color: #ffffff;  
    font-family: 'Kanit', sans-serif;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.01rem;

}

.edu p4{
    position: relative;
    top: 1.8rem;
    font-size: 1.3rem;
    color: #787878;
    row-gap: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.edu p4 i{
    color: #6C63FF;
}

.edu{
    position: relative;
    padding: 5rem 5rem 5rem 5rem;
    margin: solid balck 0.1rem;
    background-color: aliceblue;
    border-radius: 3rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0.2rem 0.4rem 1rem rgb(211, 211, 211);
}
.edu:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.edu .title{
    position: absolute;
    background: linear-gradient(to bottom, #6C63FF,#AB96FF);
    /* background-color: #6C63FF; */
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 3rem;
    text-align: center;
    color: #ffffff;

}

.edu:hover .title{
    background-color: f2ff63;
    height: 25%;
}
.edu:hover .title h4{
    margin: 0.5rem 0rem 0rem 0rem;
    /* color: #6C63FF; */
}

.edu .title h5{
    position: relative;
    bottom: 9rem;
    font-size: 6rem;
    transition: all 0.4s ease-in-out;
    color: white;

}
.edu:hover .title h5{
    display: none;
}
.serv{
    display: grid;
    grid-template-rows: 10rem, 100rem, 100rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 5% 15% 5% 15%;
}
.service h4{
    font-size: 2rem;
    color: #6C63FF;  
    font-family: 'Kanit', sans-serif;
}
.service{
    padding: 5rem 5rem 5rem 5rem;
    margin: solid balck 0.1rem;
    background-color: aliceblue;
    border-radius: 3rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0.2rem 0.4rem 1rem rgb(211, 211, 211);
}
.service:hover{
    transform: scale(1.07);
    cursor: pointer;
}
.pic{
    padding: 0rem 2.5rem 0rem 2.5rem;
    transition: all 0.5s ease-in-out;
}

.pic:hover{
    transform: scale(1.6);
    cursor: pointer;
}
.service h5{
    font-size: 1rem;
    color: #6C63FF;
    row-gap: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service p3{
    font-size: 1rem;
    color: #787878;
    row-gap: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project h4{
    font-size: 1.6rem;
    color: #6C63FF;  
    font-family: 'Kanit', sans-serif;
}
.project .git h5{
    font-size: 3rem;
    color: #6C63FF;
    margin-bottom : 1rem;
    margin-top: 20%;
    transition: all 0.5s ease-in-out;
}
.project .git h5:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.project p3{
    font-size: 1.3rem;
    color: #555555;
    row-gap: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    padding-left: 3rem;
    margin: 1rem 3rem 3rem 3rem;
    padding: 1rem 1rem 1rem 4rem;
    background-color: #e9f5ff;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.4rem 1rem rgb(211, 211, 211);
    transition: all 0.5s ease-in-out;
}
.project:hover{
    transform: scale(1.05);
    cursor: pointer;
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    font-size: 1.3rem;
    color: #5e5e5e;
}
td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 8rem;
    padding-right: 10rem;
    transition: all 0.5s ease-in-out;
}

tr {
    transition: all 0.5s ease-in-out;
}

tr:hover {
    transform: scale(1.2);
    cursor: pointer;
    
}

.skills{
    background-color: aliceblue;
}
.contact{
    background-color: #d4d4d4;
}
p4{
    color: #313232;
    font-size: 1.1rem;
    
    
}
.footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    /* align-items: center; */
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    position: relative;
    
    
}
.footer ul{
    list-style: none;
    margin-top: 2rem;
    margin-left: -2rem;
    transition: all 3s ease-in-out;
}
.footer ul li{
    font-size: 0.8rem;
    transition: all 0.5s ease-in-out;
}
.footer ul li:hover{
    transform: scale(1.06);
    cursor: pointer;
    

}

.fas{
    height: 2rem;
    width: 2rem;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
    margin-left: 0rem;
    margin-right: 2rem;
    
    
}

.fab{
    height: 2rem;
    width: 2rem;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
    margin-left: 0rem;
    margin-right: 2rem;
    
}

.fas:hover{
    color: #6C63FF;
    cursor: pointer;
    /* transform: scale(1.2); */
    transform:rotateZ(40deg);
}

.fab:hover{
    color: #6C63FF;
    cursor: pointer;
    
    /* transform: scale(1.2); */
    transform:rotateZ(40deg);
}
h8{
    font-size: 1.6rem;
    color: #6C63FF;
    font-weight: 700;
    
    
}
h9{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.12rem;
    
}
p9{
    letter-spacing: 1.0rem;
    font-size: 1.2rem;
}
#item{
    align-content: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.09rem;
}
#itemc{
    align-content: center;
    
    /* margin-top: 1rem; */
    letter-spacing: 0.06rem;
}
#item:hover{
    align-content: center;
    /* margin-top: 1rem; */
    letter-spacing: 0.06rem;
    color: #6C63FF;
}

/* .person{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: auto;
    margin: 1rem 1.5rem 1rem 1rem;
} */

hr{
    border: 0.1rem solid #6C63FF;
    border-radius: 5px;
}
@media (max-width:1445px) {
    html{
        font-size: 92%;
    }
    
}
@media (max-width:1266px) {
    html{
        font-size: 82%;
    }
    
}
@media (max-width:1116px) {
    html{
        font-size: 76%;
    }
    
}
@media (max-width:1032px) {
    html{
        font-size: 66%;
    }
    
}
@media (max-width:898px) {
    html{
        font-size: 55%;
    }
    
}
@media (max-width:774px) {
    html{
        font-size: 45%;
    }
    
}
@media (max-width:624px) {
    html{
        font-size: 35%;
    }
    
}
@media (max-width:485px) {
    html{
        font-size: 28%;
    }
    
}
@media (max-width:391px) {
    html{
        font-size: 24%;
    }
    
}
@media (max-width:340px) {
    html{
        font-size: 20%;
    }
    
}
@media (max-width:300px) {
    html{
        font-size: 16%;
    }
}
@media (max-width:50px) {
    html{
        font-size: 12%;
    }
}
